<!DOCTYPE html>
<html>
<!--
    Madrid 2020
    Repositorio del proyecto: https://github.com/DrunkPsyduck/ZeiterFree/
    Desarrollado por:
    Adrián Marina Viera: https://github.com/Amarvie
    Sergio Tejera de la Torre: 
    Mario Canales Sánchez: https://github.com/DrunkPsyduck
 -->

<head>
    <meta charset="utf-8">
    <title>Login Node</title>
    <%- include ('partials/head'); %>


</head>

<body class="index">
    <div class="container">
        <div class="card text-center mt-5">
            <% if (message && message.length > 0) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>
            <div class="card-body">
                <h1><span class="fa fa-lock"></span> Accede o Regístrate</h1><br />
                <a href="/login" class="btn btn-ligth btn-lg">
                    <span class="fa fa-user-circle-o"></span> Acceso
                </a>
                <a href="/signup" class="btn btn-ligth btn-lg">
                    <span class="fa fa-id-card-o"></span> Registro
                </a><br /><br />
            </div>
        </div>
    </div>

</body>

</html>