<!DOCTYPE html>
<html>
<!--
    Madrid 2020
    Repositorio del proyecto: https://github.com/DrunkPsyduck/ZeiterFree/
    Desarrollado por:
    Adrián Marina Viera: https://github.com/Amarvie
    Sergio Tejera de la Torre: 
    Mario Canales Sánchez: https://github.com/DrunkPsyduck
 -->

<head>
    <meta charset="utf-8">
    <title>Login Node</title>
    <%- include ('partials/head'); %>

</head>

<body class="login">
    <div class="container">
        <div class="col-sm-6 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center">
                        <span class="fa fa-user-circle-o"></span> Acceso
                    </h1>

                    <% if (message.length > 0) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                    <% } %>

                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="email">Correo electrónico:</label>
                            <input type="email" name="email" class="form-control"
                                placeholder="Indica tu dirección de correo">
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input type="password" name="password" class="form-control"
                                placeholder="Indica tu contraseña">
                        </div>
                        <input type="submit" class="btn btn-info btn-lg" value="&#xf090 Entrar">
                    </form>

                    <hr>
                    <div class="text-center">
                        <p>¿Necesitas una cuenta? <a href="/signup">Regístrate</a>.</p>
                        <p><a href="/forgot">¿Contraseña olvidada?</a></p>
                        <p>Volver a <a href="/">Inicio</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>